<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('展商列表')"></head>
    <body>
        <div class="layui-container" style="width: 100%">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">条件查询</h2>
                            <div class="layui-colla-content layui-show">

                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">注册手机号</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="registerphone" placeholder="注册手机号" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">管理者姓名</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="name" placeholder="管理者姓名" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">企业名称</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="enterprisename" placeholder="请输入企业名称" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">展位号</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="boothno" placeholder="展位号" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">审核状态</label>
                                                <div class="layui-input-block">
                                                    <select name="state" lay-filter="selectOrgFilter">
                                                        <option value="">请选择</option>
                                                        <option value="0">未认证</option>
                                                        <option value="1">审核通过</option>
                                                        <option value="2">审核中</option>
                                                        <option value="3">审核失败</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">创建时间段</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name = "startTime" placeholder="开始时间" autocomplete="off" class="layui-input" id="startTime">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                            <input type="text" name="endTime" placeholder="结束时间" autocomplete="off" class="layui-input" id="endTime">
                                        </div>
                                    </div>
                                    <div class="layui-row">
                                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                            <div class="layui-form-item">
                                                <div class="layui-input-block">
                                                    <button class="layui-btn" lay-submit lay-filter="searchFrom"><i class="layui-icon layui-icon-search" title="搜索"></i>搜索</button>
                                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <table id="table" lay-filter="tableFilter"></table>
                </div>
            </div>
        </div>

        <!--详情模板-->
        <div id="detail" style="display: none;">
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">注册手机</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">管理人员</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">管理人手机</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">座机</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">企业名称</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">展位号</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">蜂鸟云Fid</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">虚拟展厅html地址</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" readonly>
                    </div>
                </div>
            </form>
        </div>

        <script type="text/html" id="titleToolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-circle" title="添加"></i>添加</button>
                <button class="layui-btn layui-btn-sm" lay-event="export"><i class="layui-icon layui-icon-add-circle" title="导出"></i>导出</button>
                <button class="layui-btn layui-btn-sm" lay-event="refreshCloudWindows"><i class="layui-icon layui-icon-add-circle" title="刷新云端橱窗"></i>刷新云端橱窗</button>
            </div>
        </script>

        <script type="text/html" id="rowToolBar">
            <a class="layui-btn layui-btn-xs" lay-event="isrecommend"><i class="layui-icon layui-icon-form" title="推荐"></i>推荐</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit" title="审核"></i>编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-form" title="审核"></i>审核</a>
        </script>
        <script type="text/javascript" th:src="@{/static/js/exhibitioninfo/exhibition2info.js}"></script>
    </body>
</html>