<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('关于我们')"></head>
    <body>
            <div style="margin-top: 200px;margin-left: 300px; width: 100%">
                <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" lay-event="communitynorms">社区规范</button>
                <button type="button" class="layui-btn layui-btn-lg" lay-event="privacyclause">隐私条款</button>
                <button type="button" class="layui-btn layui-btn-lg layui-btn-normal" lay-event="useragr">用户协议</button>
            </div>
    </body>
</html>

<script>
    /**
     * 关于表
     */
    layui.use('core', function(){
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var form = layui.form;
        var core = layui.core;
        var $ = layui.jquery;

        //处理属性 为 lay-active 的所有元素事件
        util.event('lay-event', {
            communitynorms: function(){
                core.openIframeDialog('社区规范设置','/platform/aboutus/input?type=communitynorms',['100%', '90%'],false,null);
            }
            ,privacyclause: function(){
                core.openIframeDialog('隐私条款设置','/platform/aboutus/input?type=privacyclause',['100%', '90%'],false,null);
            }
            ,useragr: function(){
                core.openIframeDialog('用户协议设置','/platform/aboutus/input?type=useragr',['100%', '90%'],false,null);
            }
        });
    });
</script>