<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('添加或修改banner')"></head>
<body>
    <div class="layui-container">
        <div class="layui-row" style="margin-top: 10px;">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <form class="layui-form" th:object="${ehbBanner}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{name}" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block" th:if="*{id == null}">
                            <input type="radio" name="type" th:title="首页顶部" value="1" lay-filter="typeRadio" checked="checked">
                            <input type="radio" name="type" th:title="首页大会预告" value="2" lay-filter="typeRadio">
                        </div>
                        <div class="layui-input-block" th:if="*{id != null}">
                            <input type="radio" name="type" th:title="首页顶部" value="1" th:checked="${ehbBanner.type == 1}?checked" lay-filter="typeRadio">
                            <input type="radio" name="type" th:title="首页大会预告" value="2" th:checked="${ehbBanner.type == 2}?checked" lay-filter="typeRadio">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片地址</label>
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="test2">上传图片</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="demo1" th:src="*{imgurl}">
                                <p id="demoText"></p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{content}" required  lay-verify="required" placeholder="请输入内容" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{sort}" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内联/外联</label>
                        <div class="layui-input-block">
                            <select th:field="*{nw}" lay-filter="selectFilter" lay-verify="required">
                                <option value="">请选择</option>
                                <option value="1" th:selected="${ehbBanner.nw=='1'}">内联</option>
                                <option value="2" th:selected="${ehbBanner.nw=='2'}">外联</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="display: none;" id="nlid">
                        <label class="layui-form-label">内联跳转id</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{nlid}" placeholder="请输入排序" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="display: none;" id="linkurl" >
                        <label class="layui-form-label">外联链接地址</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{linkurl}" placeholder="请输入链接地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <input th:field="*{id}" type="hidden"/>
                    <input th:field="*{imgurl}" type="hidden" id="imgurl"/>
                    <button lay-submit lay-filter="submitFrom" style="display: none;">提交</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        layui.use('core', function(){
            var form = layui.form,
            core = layui.core,
            upload = layui.upload,
            $ = layui.jquery;

            //下拉框监听事件
            form.on('select(selectFilter)', function(data){
                if(data.value == 1){//审核不通过
                    $('#nlid').show();
                    $('#linkurl').hide();
                }else if(data.value == 2){
                    $('#nlid').hide();
                    $('#linkurl').show();
                }else{
                    $('#nlid').hide();
                    $('#linkurl').hide();
                }
            });

            form.on('submit(submitFrom)', function(data){
                console.log(JSON.stringify(data.field));
                if(core.isEmpty(data.field.imgurl)){
                    layer.msg('图片未上传！',core.showtime);
                    return false;
                }
                if(data.field.nw == '1'){
                    if(core.isEmpty(data.field.nlid)){
                        layer.msg('内联ID未填写！',core.showtime);
                        return false;
                    }
                }if(data.field.nw == '2'){
                    if(core.isEmpty(data.field.linkurl)){
                        layer.msg('外联链接未填写！',core.showtime);
                        return false;
                    }
                }
                var resultData = core.ajax('/platform/banner/saveOrUpdate',false,'POST',data.field);
                if(resultData!=false){
                    parent.layer.msg('操作成功',core.showtime);
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test2'
                , url: '/api/upLoadByHttp?remarks=' + 3 //改成您自己的上传接口
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code != 200) {
                        return layer.msg('上传失败');
                    }
                    if (res.code == 200) {
                        $('#imgurl').val(res.data[0].url);
                        return layer.msg('上传成功！');
                    }
                    //上传成功
                }
            });
        });
    </script>
</body>
</html>