<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('添加或修改机构')"></head>
<body>
    <div class="layui-container">
        <div class="layui-row" style="margin-top: 10px;">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <form class="layui-form" th:object="${crmOrganization}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{orgName}" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{orgPhone}" required  lay-verify="required" placeholder="请输入电话" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{orgAddress}" required  lay-verify="required" placeholder="请输入地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <input th:field="*{id}" type="hidden"/>
                    <button lay-submit lay-filter="submitFrom" style="display: none;">提交</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        layui.use('core', function(){
            var form = layui.form,
            core = layui.core;

            form.on('submit(submitFrom)', function(data){
                var resultData = core.ajax('/crmOrganization/saveOrUpdateOrg',false,'POST',data.field);
                if(resultData!=false){
                    parent.layer.msg('操作成功',core.showtime);
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
</body>
</html>