<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('查看消毒详情')"></head>
<body>
    <div class="layui-container">
        <div class="layui-row" style="margin-top: 10px;">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>牧户信息</legend>
                </fieldset>
                <form class="layui-form" th:object="${traceHerdsmen}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{name}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{phone}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </form>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>芯片信息</legend>
                </fieldset>
                <form class="layui-form" th:object="${traceChip}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">芯片号</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{chipId}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">芯片类型</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{type}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">品种</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{varieties}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{sex}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">植入时间</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{implantationtime}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </form>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>繁育信息</legend>
                </fieldset>
                <form class="layui-form" th:object="${traceBreed}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">芯片号</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{chipId}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">繁育类型</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{breedType}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">精子（细管号）</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{spermNo}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">生产厂家情况 </label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{manufacturerInfo}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">生产日期 </label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{productionDate}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">公牛/公羊品种 </label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{maleVarieties}" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <button lay-submit lay-filter="submitFrom" style="display: none;">提交</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        layui.use('core', function(){
            var form = layui.form,
            core = layui.core,
            $ = layui.jquery;

            form.on('submit(submitFrom)', function(data){
                parent.layer.msg('操作成功',core.showtime);
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
</body>
</html>