<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('添加或修改')"></head>
<body>
    <div class="layui-container">
        <div class="layui-row" style="margin-top: 10px;">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <form class="layui-form" th:object="${appversion}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">当前版本号</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{version}" required  lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">下载地址</label>
                        <div class="layui-input-block">
                            <button lay-event="add" type="button" class="layui-btn" id="qysqsmb"><i class="layui-icon"></i>上传文件</button>
                            <input id="qysqsmb_msg" type="text" th:field="*{url}" readonly lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">上一版本号</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{oldversion}" required  lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <input th:field="*{id}" type="hidden"/>
                    <button lay-submit lay-filter="submitFrom" style="display: none;">提交</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        layui.use('core', function(){
            var form = layui.form,
                upload = layui.upload,
            core = layui.core,
            $ = layui.jquery;

            //企业授权书模板
            upload.render({
                elem: '#qysqsmb'
                ,url: '/api/upLoadByHttp?remarks=3&title=app版本' //改成您自己的上传接口
                ,accept: 'file' //普通文件
                ,done: function(res){
                    if(res.code == 200){
                        $('#qysqsmb_msg').val(res.data[0].url);
                        layer.msg('上传成功！');
                    }else{
                        layer.msg('上传失败！');
                    }
                }
            });

            form.on('submit(submitFrom)', function(data){
                var resultData = core.ajax('/platform/version/saveOrUpdate',false,'POST',data.field);
                if(resultData!=false){
                    parent.layer.msg('操作成功',core.showtime);
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
</body>
</html>