<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::headr('综合管理系统')"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span id="nickname"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="#" lay-onclick = "userInfo">基本资料</a></dd>
                    <dd><a href="#" lay-onclick = "security">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-onclick="logout"><a href="#"><i class="layui-icon layui-icon-logout" style="font-size: 20px;" title="退了"></i></a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="menu">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" menuid="100" menuurl='<iframe src="/crmUser/userList" width="100%" height="440px;" frameborder="0"></iframe>'>用户管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">参展信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" menuid="200" menuurl='<iframe src="/platform/czrInfo/list" width="100%" height="440px;" frameborder="0"></iframe>'>专业观众</a></dd>
                        <dd><a href="javascript:;" menuid="201" menuurl='<iframe src="/platform/zsInfo/list" width="100%" height="440px;" frameborder="0"></iframe>'>参展商</a></dd>
                        <dd><a href="javascript:;" menuid="202" menuurl='<iframe src="/platform/guest/list" width="100%" height="440px;" frameborder="0"></iframe>'>专业嘉宾</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">推荐设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" menuid="300" menuurl='<iframe src="/platform/label/list" width="100%" height="440px;" frameborder="0"></iframe>'>标签管理</a></dd>
                        <dd><a href="javascript:;" menuid="301" menuurl='<iframe src="/platform/hottitle/list" width="100%" height="440px;" frameborder="0"></iframe>'>热搜词管理</a></dd>
                        <dd><a href="javascript:;" menuid="302" menuurl='<iframe src="/chip/list" width="100%" height="440px;" frameborder="0"></iframe>'>虚拟展厅推荐</a></dd>
                        <dd><a href="javascript:;" menuid="303" menuurl='<iframe src="/chip/list" width="100%" height="440px;" frameborder="0"></iframe>'>行业资讯推荐</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">banner管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" menuid="400" menuurl='<iframe src="/immunity/list" width="100%" height="440px;" frameborder="0"></iframe>'>首页banner管理</a></dd>
                        <dd><a href="javascript:;" menuid="55" menuurl='<iframe src="/diagnosis/list" width="100%" height="440px;" frameborder="0"></iframe>'>入口banner管理</a></dd>
                        <dd><a href="javascript:;" menuid="66" menuurl='<iframe src="/disinfect/list" width="100%" height="440px;" frameborder="0"></iframe>'>招展预告</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">关于我们</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" menuid="500" menuurl='<iframe src="/platform/about/list" width="100%" height="440px;" frameborder="0"></iframe>'>关于</a></dd>
                        <dd><a href="javascript:;" menuid="501" menuurl='<iframe src="http://localhost:8400/manager/userList" width="100%" height="440px;" frameborder="0"></iframe>'>用户协议</a></dd>
                        <dd><a href="javascript:;" menuid="1010" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>社区规范</a></dd>
                        <dd><a href="javascript:;" menuid="1111" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>隐私条款</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">资料管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" menuid="600" menuurl='<iframe src="http://localhost:8400/manager/userList" width="100%" height="440px;" frameborder="0"></iframe>'>认证提示</a></dd>
                        <dd><a href="javascript:;" menuid="99" menuurl='<iframe src="http://localhost:8400/manager/userList" width="100%" height="440px;" frameborder="0"></iframe>'>用户协议</a></dd>
                        <dd><a href="javascript:;" menuid="99" menuurl='<iframe src="http://localhost:8400/manager/userList" width="100%" height="440px;" frameborder="0"></iframe>'>展会中英文邀请函</a></dd>
                        <dd><a href="javascript:;" menuid="1010" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>参展合约</a></dd>
                        <dd><a href="javascript:;" menuid="1111" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>参展商手册</a></dd>
                        <dd><a href="javascript:;" menuid="1212" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>搭建商手册</a></dd>
                        <dd><a href="javascript:;" menuid="1212" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>团体观众登记表</a></dd>
                        <dd><a href="javascript:;" menuid="1212" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>观众邀请券</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">关于展览会</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" menuid="700" menuurl='<iframe src="http://localhost:8400/manager/userList" width="100%" height="440px;" frameborder="0"></iframe>'>展会介绍</a></dd>
                        <dd><a href="javascript:;" menuid="1010" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>展会日程</a></dd>
                        <dd><a href="javascript:;" menuid="1111" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>交通住宿</a></dd>
                        <dd><a href="javascript:;" menuid="1212" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>主办方信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">帮助与反馈</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" menuid="800" menuurl='<iframe src="http://localhost:8400/manager/userList" width="100%" height="440px;" frameborder="0"></iframe>'>意见反馈</a></dd>
                        <dd><a href="javascript:;" menuid="1010" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>常见问题</a></dd>
                        <dd><a href="javascript:;" menuid="1111" menuurl='<iframe src="http://localhost:8400/manager/positionList" width="100%" height="440px;" frameborder="0"></iframe>'>更多问题</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="height: 665px;">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="tabpage" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li lay-id="" class="">首页
                    <i class="layui-icon layui-unselect layui-tab-close" style="display: none">ဆ</i><!--首页关闭标签隐藏-->
                </li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="/crmUser/userList" width="100%" height="540px;" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common::footer"></div>
</div>

<!--详情模板-->
<div id="detail" style="display: none;">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录账号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input">
            </div>
        </div>
    </form>
</div>

<script>
    //JavaScript代码区域
    layui.use('core', function(){
        // alert("loginUserInfo:"+JSON.stringify(loginUserInfo));
        var $ = layui.jquery
            ,element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
            ,core = layui.core
            ,util = layui.util;

        $('#nickname').text(loginUserInfo.name);
        $('#detail').find("input").eq(0).attr("value",loginUserInfo.name);
        $('#detail').find("input").eq(1).attr("value",loginUserInfo.loginname);
        $('#detail').find("input").eq(2).attr("value",loginUserInfo.roleName);

        // var crmAuzDTOs = loginUserInfo.crmAuzDTOs;
        // var level1= "";//一级菜单HTML
        // for(var i=0;i<crmAuzDTOs.length;i++){
        //     if(crmAuzDTOs[i].level == 2){//取出所有一级菜单
        //         if(crmAuzDTOs[i].url!=null){//一级菜单有跳转的
        //             level1 +='<li class="layui-nav-item">' +
        //                 '<a href="javascript:;" menuid="'+crmAuzDTOs[i].menu_id+'" menuurl=\'<iframe src="http://localhost:8400'+crmAuzDTOs[i].url+'" width="100%" height="580px;" frameborder="0"></iframe>\'>'+crmAuzDTOs[i].name+'</a></li>';
        //         }else{//一级菜单没有跳转的
        //             level1 +='<li class="layui-nav-item"><a href="javascript:;">'+crmAuzDTOs[i].name+'</a><dl class="layui-nav-child">';
        //             var level2 ='';//二级菜单HTML
        //             for(var j=0;j<crmAuzDTOs.length;j++){
        //                 //取出每一个一级菜单的子二级菜单
        //                 if(crmAuzDTOs[j].level == 3 && crmAuzDTOs[j].parent_id == crmAuzDTOs[i].menu_id){
        //                     level2 += '<dd><a href="javascript:;" menuid="'+crmAuzDTOs[j].menu_id+'" menuurl=\'<iframe src="http://localhost:8400'+crmAuzDTOs[j].url+'" width="100%" height="580px;" frameborder="0"></iframe>\'>'+crmAuzDTOs[j].name+'</a></dd>';
        //                 }
        //             }
        //             level1 += level2;
        //             level1 +='</dl></li>';
        //         }
        //     }
        // }
        // $('.layui-nav-tree').html(level1);//写入页面元素
        //
        // element.render();//重新对动态生成的菜单进行渲染
        //触发事件
        var active = {
            tabAdd: function(title,id,content){
                //新增一个Tab项
                element.tabAdd('tabpage', {
                    title: title //用于演示
                    ,content: content
                    ,id: id //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('tabpage', '44'); //删除：“商品管理”
                othis.addClass('layui-btn-disabled');
            }
            ,tabChange: function(menuid){
                //切换到指定Tab项
                var d = element.tabChange('tabpage', menuid); //切换到：用户管理
                console.info(d);
            }
        };

        //tab页切换监听
        element.on('tab(tabpage)', function(data){
            console.log(data);
        });

        //监听导航点击
        element.on('nav(menu)', function(elem){
            //移除掉全部菜单展开样式
            $('.layui-nav-itemed').each(function () {
                $(this).removeClass("layui-nav-itemed");
            });
            //添加菜单展开样式
            elem.parents("li").addClass("layui-nav-itemed");

            var title = elem.text();
            var menuid = elem.attr("menuid");

            if(!core.isEmpty(menuid)){//必须是叶子菜单才能打开选项卡
                var flag = true;

                $('li[lay-id]').each(function () {//如果tab已经打开则直接加载
                    if($(this).attr("lay-id")==menuid){
                        active.tabChange(menuid);
                        flag = false;
                        return flag;
                    }
                });

                if(flag){
                    var menuurl = elem.attr("menuurl");
                    active.tabAdd(title,menuid,menuurl);//创建新的tab
                    active.tabChange(menuid);//加载新tab
                }
            }
        });

        //按钮事件
        util.event('lay-onclick', {
            userInfo: function(){
                core.openDialog('基本资料',$('#detail').html(),['500px','300px']);
            },
            security:function(){
                layer.msg("密码修改，敬请期待！");
            },
            logout:function(){
                layer.confirm('确定退出么？', function(index){
                    layer.close(index);
                    //向服务端发送删除指令
                    var resultData = core.ajax('/platform/logout',false,'GET',null);
                    if(resultData!=false){
                        layer.msg('退出成功！',{time: 3000}, function(){
                            location.href="/platform/login";
                        });
                    }
                });
            }
        });
    });
</script>
</body>
</html>