<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/static/tools/layui/css/layui.css}">
  <script type="text/javascript" th:src="@{/static/tools/layui/layui.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/demo.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/base.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/demo2.js}"></script>
</head>
<body>
layui测试
<script>
console.info(layui.device());
</script>
</body>
</html>