<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::headr('登录')"></head>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/wuye.css}" />
<style type="text/css">

</style>

<body id="pc">
<div class="login-bg">
    <div class="login-box">
        <div class="login-left">

        </div>
        <div class="login-con">
            <h1>燃气云展后台管理系统</h1>
            <p>RQYZST Background Management System</p>
            <div class="item">
                <img th:src="@{/static/images/phone.png}" alt="">
                <input type="text" name="name" id="name" value="" placeholder="请输入用户名">
            </div>
            <div class="item">
                <img th:src="@{/static/images/pwd.png}" alt="">
                <input type="password" name="pwd" id="pwd" value="" placeholder="请输入用户密码">
            </div>
            <div class="login-bt-box">
                <a href="javaScript:void(0)" class="login-bt" lay-active="login">登录</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use('core', function(){
        var form = layui.form;
        var core = layui.core;
        var $ = layui.jquery;
        var util = layui.util;

        //处理属性 为 lay-active 的所有元素事件
        util.event('lay-active', {
            login: function(){
                var name = $('#name').val();
                var pwd = $('#pwd').val();
                var resultData = core.ajax('/platform/login',false,'POST',"username="+name+"&password="+pwd);
                if(resultData!=false){
                    layer.msg('登录成功',{time: 3000},function(){
                        location.href="/platform/index";
                    });
                }
            }
        });
    });
</script>

</body>

</html>