<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('免疫追溯列表')"></head>
    <body>
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">条件查询</h2>
                            <div class="layui-colla-content layui-show">

                                <form class="layui-form">
                                    <div class="layui-row">
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">芯片号</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="chipId" placeholder="请输入芯片号" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">药品名称</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="immunedrugsname" placeholder="药品名称" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">药品批次</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="immunedrugsbatch" placeholder="药品批次" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">接病病种</label>
                                                <div class="layui-input-block">
                                                    <select name="diseaseType">
                                                        <option value="">请选择</option>
                                                        <option value="1">测试</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">牧户名</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="name" placeholder="牧户名" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">牲畜类型</label>
                                                <div class="layui-input-block">
                                                    <select name="type">
                                                        <option value="">请选择</option>
                                                        <option value="1">牛</option>
                                                        <option value="2">马</option>
                                                        <option value="3">羊</option>
                                                        <option value="4">骆驼</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">品种</label>
                                                <div class="layui-input-block">
                                                    <select name="varieties">
                                                        <option value="">请选择</option>
                                                        <option value="1">测试</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">疫苗类型</label>
                                                <div class="layui-input-block">
                                                    <select name="vaccinesType">
                                                        <option value="">请选择</option>
                                                        <option value="1">测试</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">季节</label>
                                                <div class="layui-input-block">
                                                    <select name="season">
                                                        <option value="">请选择</option>
                                                        <option value="1">春季</option>
                                                        <option value="2">秋季</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">免疫时间段</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name = "startTime" placeholder="开始时间" autocomplete="off" class="layui-input" id="startTime">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                            <input type="text" name="endTime" placeholder="结束时间" autocomplete="off" class="layui-input" id="endTime">
                                        </div>
                                    </div>
                                    <div class="layui-row">
                                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                            <div class="layui-form-item">
                                                <div class="layui-input-block">
                                                    <button class="layui-btn" lay-submit lay-filter="searchFrom"><i class="layui-icon layui-icon-search" title="搜索"></i>搜索</button>
                                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <table id="table" lay-filter="tableFilter"></table>
                </div>
            </div>
        </div>

        <script type="text/html" id="rowToolBar">
            <a class="layui-btn layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-form" title="查看"></i></a>
        </script>
        <script type="text/javascript" th:src="@{/static/js/immunity/immunity.js}"></script>
    </body>
</html>