<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('添加或修改')"></head>
<body>
    <div class="layui-container">
        <div class="layui-row" style="margin-top: 10px;">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <form class="layui-form" th:object="${ehbLiveBroadcast}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">主标题</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{mainTitle}" required  lay-verify="required" placeholder="请输入主标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">副标题</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{subTitle}" required  lay-verify="required" placeholder="请输入副标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">类型名称</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{type}" required  lay-verify="required" placeholder="请输入副标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播号</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{roomNum}" required  lay-verify="required" placeholder="请输入直播号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">流名称</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{flowName}" required  lay-verify="required" placeholder="请输入流名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播时长</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{liveDuration}" required  lay-verify="required" placeholder="请输入直播时长" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-inline">
                            <input th:field="*{liveStartTime}" type="text" class="layui-input" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <input th:field="*{liveEndtime}" type="text" class="layui-input" id="test6" placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播封面</label>
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="test2">上传图片</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="demo1" th:src="*{liveImageUrl}">
                                <p id="demoText"></p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">私密口令</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{livePassword}" required  lay-verify="required" placeholder="请输入私密口令" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播状态</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{liveStatus}" required  lay-verify="required" placeholder="请输入私密口令" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div th:if="*{id != null}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">直播下载地址</label>
                            <div class="layui-input-block">
                                <input type="text" th:field="*{videoDownUrl}" required  lay-verify="required" placeholder="请输入私密口令" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">直播回访地址</label>
                            <div class="layui-input-block">
                                <input type="text" th:field="*{playback}" required  lay-verify="required" placeholder="请输入私密口令" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">推流地址</label>
                            <div class="layui-input-block">
                                <input type="text" th:field="*{pushFlowUrl}" required  lay-verify="required" placeholder="请输入推流地址" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">拉流地址</label>
                            <div class="layui-input-block">
                                <input type="text" th:field="*{pullFlowUrl}" required  lay-verify="required" placeholder="请输入拉流地址" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">直播间弹幕聊天id</label>
                            <div class="layui-input-block">
                                <input type="text" th:field="*{gropid}" required  lay-verify="required" placeholder="请输入拉流地址" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播预告</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{notice}" required  lay-verify="required" placeholder="请输入拉流地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">全部禁言（1：否，2：是）</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{forbiddenWords}" required  lay-verify="required" placeholder="请输入拉流地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{sort}" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">禁言成员（[用户id1,用户id2]）</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{forbiddenMember}" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">主播公告</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{announcement}" required  lay-verify="required" placeholder="请输入主播公告" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <input th:field="*{id}" type="hidden"/>
                    <input th:field="*{liveImageUrl}" type="hidden" id="imgurl"/>
                    <button lay-submit lay-filter="submitFrom" style="display: none;">提交</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        layui.use('core', function(){
            var form = layui.form,
            core = layui.core,
                laydate = layui.laydate,
            $ = layui.jquery;

            form.on('submit(submitFrom)', function(data){
                var resultData = core.ajax('/platform/live/saveOrUpdate',false,'POST',data.field);
                if(resultData!=false){
                    parent.layer.msg('操作成功',core.showtime);
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

            //日期时间选择器
            laydate.render({
                elem: '#test5'
                ,type: 'datetime'
            });
            //日期时间选择器
            laydate.render({
                elem: '#test6'
                ,type: 'datetime'
            });

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test2'
                , url: '/api/upLoadByHttp?remarks=' + 3 //改成您自己的上传接口
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code != 200) {
                        return layer.msg('上传失败');
                    }
                    if (res.code == 200) {
                        $('#imgurl').val(res.data[0].url);
                        return layer.msg('上传成功！');
                    }
                    //上传成功
                }
            });
        });
    </script>
</body>
</html>