<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common::headr('添加或修改')"></head>
<body>
    <div class="layui-container">
        <div class="layui-row" style="margin-top: 10px;">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <form class="layui-form" th:object="${ehbLiveBroadcast}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">主标题</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{mainTitle}" required  lay-verify="required" placeholder="请输入主标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">副标题</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{subTitle}" required  lay-verify="required" placeholder="请输入副标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播号</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{roomNum}" required  lay-verify="required" placeholder="请输入直播号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">流名称</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{flowName}" required  lay-verify="required" placeholder="请输入流名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播时长</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{liveDuration}" required  lay-verify="required" placeholder="请输入直播时长" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{liveStartTime}" required  lay-verify="required" placeholder="请输入直播开始时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{liveEndtime}" required  lay-verify="required" placeholder="请输入直播结束时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">私密口令</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{livePassword}" required  lay-verify="required" placeholder="请输入私密口令" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">推流地址</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{pushFlowUrl}" required  lay-verify="required" placeholder="请输入推流地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">拉流地址</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{pullFlowUrl}" required  lay-verify="required" placeholder="请输入拉流地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{sort}" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">主播公告</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{announcement}" required  lay-verify="required" placeholder="请输入主播公告" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <input th:field="*{id}" type="hidden"/>
                    <button lay-submit lay-filter="submitFrom" style="display: none;">提交</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        layui.use('core', function(){
            var form = layui.form,
            core = layui.core,
            $ = layui.jquery;

            form.on('submit(submitFrom)', function(data){
                var resultData = core.ajax('/crmRole/saveOrUpdate',false,'POST',data.field);
                if(resultData!=false){
                    parent.layer.msg('操作成功',core.showtime);
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
</body>
</html>