<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.soft.mapper.EhbArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yl.soft.po.EhbArticle">
        <id column="id" property="id" />
        <result column="createuser" property="createuser" />
        <result column="createtime" property="createtime" />
        <result column="updateuser" property="updateuser" />
        <result column="updatetime" property="updatetime" />
        <result column="state" property="state" />
        <result column="version" property="version" />
        <result column="isdel" property="isdel" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="picture" property="picture" />
        <result column="releasetime" property="releasetime" />
        <result column="countcollection" property="countcollection" />
        <result column="countthumbs" property="countthumbs" />
        <result column="countfollow" property="countfollow" />
        <result column="countbrowse" property="countbrowse" />
        <result column="countcomment" property="countcomment" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        createuser, createtime, updateuser, update_time, state, version, isdel, id, title, content, picture, releasetime
    </sql>

</mapper>
