<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.soft.mapper.EhbExhibitorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yl.soft.po.EhbExhibitor">
        <id column="id" property="id" />
        <result column="idcard" property="idcard" />
        <result column="enterprisename" property="enterprisename" />
        <result column="tel" property="tel" />
        <result column="businesslicense" property="businesslicense" />
        <result column="credentials" property="credentials" />
        <result column="isjoin" property="isjoin" />
        <result column="boothno" property="boothno" />
        <result column="address" property="address" />
        <result column="website" property="website" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, idcard, enterprisename, tel, businesslicense, credentials, isjoin, boothno, address
    </sql>

    <select id="exibitionList" resultType= "com.yl.soft.dto.app.ExhibitorDto">
     	SELECT
            e.*,useaction.relateid
        FROM
            ehb_exhibitor e
        left join
            ehb_useraction useaction
        on
            e.id = useaction.relateid
            and useaction.type = '1' and useaction.activetype = '1' and useaction.isdel = #{paramMap.isdel}
            and useaction.userid = #{paramMap.id}
        where
            e.isdel = #{paramMap.isdel}
            and e.state = #{paramMap.state}
        <if test="paramMap.exhibitorid!= null and paramMap.exhibitorid!=''">
            and e.id != #{paramMap.exhibitorid}
        </if>
<!--            <foreach item="item" collection="paramMap.ids" separator="," open="(" close=")" index="">-->
<!--                #{item}-->
<!--            </foreach>-->
            <if test="paramMap.labelid!= null and paramMap.labelid.size() > 0">
                and
                <foreach item="item" collection="paramMap.labelid" separator="or" open="(" close=")" index="">
                    e.labelid like concat('%',#{item,jdbcType=INTEGER},'%')
                </foreach>
            </if>
            order by e.createtime desc
     </select>

    <select id="selectExhibitorVoList" resultType= "com.yl.soft.vo.ExhibitorVo">
     	SELECT
            e.*,a.phone as registerphone,a.loginname,a.password,a.type,a.isnew
        FROM
            ehb_exhibitor e
        left join
            ehb_audience a
        on
            e.id = a.bopie
            and a.isdel = 0
            and a.enabled = 1
        where
            1=1
            <if test="paramMap.registerphone!= null and paramMap.registerphone!=''">
                and a.phone like concat('%',#{paramMap.registerphone},'%')
            </if>
            <if test="paramMap.name!= null and paramMap.name != ''">
                and e.name like concat('%',#{paramMap.name},'%')
            </if>
            <if test="paramMap.enterprisename!= null and paramMap.enterprisename!=''">
                and e.enterprisename like concat('%',#{paramMap.enterprisename},'%')
            </if>
            <if test="paramMap.state!= null">
                and e.state = #{paramMap.state}
            </if>
            <if test="paramMap.boothno!= null and paramMap.boothno!=''">
                and e.boothno = #{paramMap.boothno}
            </if>
            <if test="paramMap.startTime!= null and paramMap.startTime!='' and paramMap.endTime!= null and paramMap.endTime!=''">
                and e.createtime BETWEEN #{paramMap.startTime} AND #{paramMap.endTime}
            </if>
            order by e.createtime desc
     </select>
</mapper>
