<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.soft.mapper.EhbExhibitorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yl.soft.po.EhbExhibitor">
        <id column="id" property="id" />
        <result column="idcard" property="idcard" />
        <result column="enterprisename" property="enterprisename" />
        <result column="tel" property="tel" />
        <result column="businesslicense" property="businesslicense" />
        <result column="credentials" property="credentials" />
        <result column="isjoin" property="isjoin" />
        <result column="boothno" property="boothno" />
        <result column="address" property="address" />
        <result column="website" property="website" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, managerman, idcard, enterprisename, tel, businesslicense, credentials, isjoin, boothno, address
    </sql>

    <select id="exibitionList" resultType= "com.yl.soft.dto.app.ExhibitorDto">
     	SELECT
            e.*
        FROM
            ehb_exhibitor e
        where
            e.isdel = #{paramMap.isdel}
            and e.state = #{paramMap.state}
            <if test="paramMap.labelid!= null and paramMap.labelid!= ''">
                and e.labelid in (${paramMap.labelid})
            </if>
            order by e.createtime desc
     </select>
</mapper>
