<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.soft.mapper.EhbLiveVmwareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yl.soft.po.EhbLiveVmware">
        <id column="id" property="id" />
        <result column="main_title" property="mainTitle" />
        <result column="sub_title" property="subTitle" />
        <result column="live_image_url" property="liveImageUrl" />
        <result column="live_status" property="liveStatus" />
        <result column="playback" property="playback" />
        <result column="createtime" property="createtime" />
        <result column="sort" property="sort" />
        <result column="announcement" property="announcement" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, main_title, sub_title, live_image_url, live_status, playback, createtime, sort, announcement
    </sql>

</mapper>
