<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.soft.mapper.StationinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yl.soft.po.Stationinfo">
        <id column="id" property="id" />
        <result column="notification_title" property="notificationTitle" />
        <result column="msg_title" property="msgTitle" />
        <result column="msg_content" property="msgContent" />
        <result column="extrasparam" property="extrasparam" />
        <result column="issuccess" property="issuccess" />
        <result column="createtime" property="createtime" />
        <result column="registrationId" property="registrationId" />
        <result column="bieming" property="bieming" />
        <result column="isdel" property="isdel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, notification_title, msg_title, msg_content, extrasparam, issuccess, createtime, registrationId, bieming, isdel
    </sql>

</mapper>
